#APP PORT
PORT=5000
#jwt sectet key
JWT_SECRET_KEY="half****OF5#####is&&&5/2;-)?"
VERFICATION_EMAIL_SECRET_KEY="lost39####lost^^^^flag**key-----free?"

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:password@localhost:5432/dbname?schema=public"

#Email 
APP_EMAIL= #an email use for verification
APP_EMAIL_PASSWORD= #you can get it from your google account